body {
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    color: #f2af00;
}

h4 {
    text-align: center;
    border-left: 2px solid #f2af00;
    display: inline-block;
    padding: 20px;
}


.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}

.hint {
    float: right; 
    font-size: small;
}

.error {
    color: #f2af00;
}

.spacer {

}

.buffer { 
    margin-bottom: 40%;
}

.ekko-lightbox-nav-overlay a{
    color:black
}

.ekko-lightbox .modal-footer {
    text-align: center;
}

.modal-footer{
    height: 100px;
}

.carousel-caption {
    color:black;
    text-align: center;
    top: -60px;
    z-index: 15;
    max-width: 100%;
}

.carousel-caption p {
    font-weight: normal;
    text-shadow: none;
}

.item {
    margin-top:50px;
}

.item.active {
    margin-top:50px;
}

.carousel-inner {
}

.carousel-indicators li{
    background-color: #aaa;
}

.carousel-indicators .active{
    background-color: #aaa;
}

.carousel-indicators {
    bottom: -20px;
    transform: translateY(100%);
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.left.carousel-control {
    background-image: none;
}

.right.carousel-control {
    background-image: none;
}

.glyphicon.glyphicon-chevron-left {
    color: black;
}

.glyphicon.glyphicon-chevron-right {
    color: black;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}    
.carousel-fade .carousel-inner .active {
  opacity: 1;
}    
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}    
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}    
.carousel-fade .carousel-control {
  z-index: 2;
}

/*WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}